---
# Only the main Sass file needs front matter (the dashes are enough)
---

$output-bourbon-deprecation-warnings: false !default;

$nav-width: 650px;

$font-path: '../uswds/fonts';
$image-path: '../uswds/img';

@import "lib/uswds/all";
@import "all";