---
---
<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/main.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/img/font-awesome-4.7.0/css/font-awesome.min.css">
  </head>
  <body class="{{ page.class }}">
    <a class="usa-skipnav" href="#main-content">Skip to main content</a>

    {% include header.html %}
    <div class="usa-overlay"></div>

    {{ content }}

    <footer role="contentinfo"></footer>
    <script src="{{ site.baseurl }}/assets/uswds/js/uswds.min.js"></script>
  </body>
</html>